@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #252525;
  color: #dddddd;
}

.body {
  background: #252525;
  color: #dddddd;
}

.header{
  background-color: #252525;
}

.card {
  background-color: #222222;
  color: #dddddd;
  border-radius: 5px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}
